.epdf_modal_container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.425);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

.epdf_modal_container.show{
    opacity: 1;
    pointer-events: auto;
}

.epdf_modal{
background: white;
padding: 50px;
position:relative;
border-radius: 5px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.epdf_close{
    position:absolute;
    top: -10px;
    right: -30px;
    background: rgb(165, 164, 164);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: 0.4s;
}

.epdf_close:hover{
    background: rgb(116, 115, 115);

}
.epdf_modal h3{
    text-align: center;
    margin-bottom: 0;
}

.epdf_modal span{
    margin-bottom: 20px;
}

.epdf_download_form{
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0 !important;
}
.epdf_modal .epdf_input_control {
    width:100%;
    text-align: center;
}

.epdf_button{
    margin: 0
}

.epdf_icon.check{
    width: 100px;
}

.epdf_icon circle{ 
    fill: transparent;
    stroke: #25AE88;
    stroke-width: 1.5;
}

.epdf_icon.check circle{
    stroke-dashoffset: 600;
    stroke-dasharray: 200;
    animation: strokeCheck 0.6s forwards linear;
    animation-delay: 0.5s;
}

@keyframes strokeCheck {
    0%{
        stroke-dashoffset: 600;
    }

    60%{
        stroke-dashoffset: 750;
    }
    50%{
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 800;
        fill: #25AE88
    }
}